@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('../fonts/belligerent-webfont.eot');
    src: url('../fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/belligerent-webfont.woff') format('woff'), url('../fonts/belligerent-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

@mixin mobiledisplay {
    @media screen and (orientation: portrait) {
        @content;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .5);
    padding-left: 5%;
    padding-right: 5%;
    h1 {
        font-size: 45px;
        font-weight: normal;
        font-family: 'belligerent_madnessregular', Arial, Helvetica, sans-serif;
        color: black;
        img {
            display: inline;
            height: 35px;
            width: auto;
            padding-right: 8px;
        }
        @include mobiledisplay() {
            font-size: 100px;
            margin: 4%;
            img {
                height: 75px;
            }
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

main {
    div {
        padding: 8px;
        box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .5);
        width: 60%;
        margin: 50px auto;
        @include mobiledisplay() {
            width: 90%;
        }
    }
    p {
        font-size: 20px;
        @include mobiledisplay() {
            font-size: 50px;
        }
    }
}

div {
    text-align: center;
    @include mobiledisplay() {
        font-size: 50px;
    }
}