@font-face {
  font-family: 'belligerent_madnessregular';
  src: url("../fonts/belligerent-webfont.eot");
  src: url("../fonts/belligerent-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/belligerent-webfont.woff") format("woff"), url("../fonts/belligerent-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  padding-left: 5%;
  padding-right: 5%;
}

header h1 {
  font-size: 45px;
  font-weight: normal;
  font-family: 'belligerent_madnessregular', Arial, Helvetica, sans-serif;
  color: black;
}

header h1 img {
  display: inline;
  height: 35px;
  width: auto;
  padding-right: 8px;
}

@media screen and (orientation: portrait) {
  header h1 {
    font-size: 100px;
    margin: 4%;
  }
  header h1 img {
    height: 75px;
  }
}

header button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-weight: bold;
}

@media screen and (orientation: portrait) {
  header button {
    height: 100px;
    width: 200px;
    font-size: 35px;
  }
}

header a {
  text-decoration: none;
  color: inherit;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main h2 {
  padding-left: 50px;
  text-align: left;
  width: 100%;
}

main h2 a {
  text-decoration: none;
}

@media screen and (orientation: portrait) {
  main {
    font-size: 50px;
  }
}

main article {
  font-size: 20px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (orientation: portrait) {
  main article select,
  main article button {
    font-size: 60px;
  }
}

main article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  main article > div {
    display: block;
  }
}

main article img {
  height: 500px;
  width: 700px;
}

main article div {
  width: 100%;
  text-align: center;
}

main article h3,
main article p {
  padding-left: 2%;
}

@media screen and (orientation: portrait) {
  main article h3,
  main article p {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=product.css.map */