@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('../fonts/belligerent-webfont.eot');
    src: url('../fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/belligerent-webfont.woff') format('woff'), url('../fonts/belligerent-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserra_regular";
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'montserra_regular', Arial, Helvetica, sans-serif;
}

@mixin mobiledisplay {
    @media screen and (orientation: portrait) {
        @content;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .5);
    padding-left: 5%;
    padding-right: 5%;
    h1 {
        font-size: 45px;
        font-weight: normal;
        font-family: 'belligerent_madnessregular', Arial, Helvetica, sans-serif;
        color: black;
        img {
            display: inline;
            height: 35px;
            width: auto;
            padding-right: 8px;
        }
        @include mobiledisplay() {
            font-size: 100px;
            margin: 4%;
            img {
                height: 75px;
            }
        }
    }
    button {
        height: 50px;
        width: 100px;
        border-radius: 10px;
        font-weight: bold;
        @include mobiledisplay() {
            height: 100px;
            width: 200px;
            font-size: 35px;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    h2 {
        padding-left: 50px;
        text-align: left;
        width: 100%;
        a {
            text-decoration: none;
        }
    }
    @include mobiledisplay() {
        font-size: 50px;
    }
    article {
        font-size: 20px;
        width: 90%;
        max-width: 1200px;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .5);
        @include mobiledisplay() {
            select,
            button {
                font-size: 60px;
            }
        }
        &>div {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include mobiledisplay() {
                display: block;
            }
        }
        img {
            height: 500px;
            width: 700px;
        }
        div {
            width: 100%;
            text-align: center;
        }
        h3,
        p {
            padding-left: 2%;
            @include mobiledisplay() {
                margin-top: 50px;
            }
        }
    }
}