body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .5);
    padding-left: 5%;
    padding-right: 5%;
    button {
        height: 50px;
        width: 100px;
        border-radius: 10px;
        font-weight: bold;
    }
    a {
        text-decoration: none;
    }
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    h2 {
        padding-left: 50px;
        text-align: left;
        width: 100%;
        a {
            text-decoration: none;
        }
    }
    article {
        font-size: 20px;
        height: 700px;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .5);
        &>div {
            display: flex;
            flex-direction: row;
        }
        img {
            height: 500px;
            width: 700px;
        }
        div {
            width: 100%;
        }
        h3,
        p {
            padding-left: 2%;
        }
    }
}